//////////////////////////////////////////
/// LOGO

.logo {
  height: 3.25rem;
}

//////////////////////////////////////////
/// SEARCH

.search {
  background-color: orangered;
  &__input {
  }

  &__button {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

//////////////////////////////////////////
/// USER NAVIGATION

.user-nav {
  background-color: greenyellow;
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user-photo {
    height: 3.25rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
