//////////////////////////////////////////
/// LOGO

.logo {
  height: 3.25rem;
}

//////////////////////////////////////////
/// SEARCH

.search {
  &__input {
  }

  &__button {
  }

  &__icon {
  }
}

//////////////////////////////////////////
/// USER NAVIGATION

.user-nav {
}
