.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem; //for testing
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
  // for dev purpose it will be removed
  height: 80rem;
}

.detail {
}

.description {
}

.user-reviews {
}
