.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 90%;
    display: block;

    &:focus {
      outline: none; //never use it just like this for accessability reasons!!! always put something to show the user that he/she is there
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $color-primary;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
  }
}
