.features {
  // background-color: $color-grey-light-2;
  grid-column: center-start / center-end;

  margin: 15rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows:auto auto;
  gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    // grid-row: 1 / -1; this -1 means the end of the EXPLICIT grid lines!!! N.B.
    grid-row: 1 / span 2; // we did not define the rows therefore we have an IMPLICIT grid. That is why we do it with span 2 and not -1
  }

  &__text {
    font-size: 1.7rem;
  }
}
