.features {
  // background-color: $color-grey-light-2;
  grid-column: center-start / center-end;

  margin: 15rem 0;
  /*
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: auto auto;
  */

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    align-items: start;
  }
}

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    // grid-row: 1 / -1; this -1 means the end of the EXPLICIT grid lines!!! N.B.
    grid-row: 1 / span 2; // we did not define the rows therefore we have an IMPLICIT grid. That is why we do it with span 2 and not -1
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
