.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  // this is how you create an overlay
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url('../img/hero.jpeg');
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  gap: 1.5rem;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: grid;
    // grid-template-columns: 1fr minmax(10rem, 15rem) 1fr;
    grid-template-columns: 1fr max-content 1fr;
    // padding: 1rem;
    color: $color-grey-light-2;
    // justify-items: center;
    font-size: 1.6rem;
    align-items: center;
    column-gap: 1.5rem;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      // width: 100%;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    // display: flex;
    // justify-content: space-between;
    gap: 3rem;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}
