.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 12rem;
  }

  &__text {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
}
