.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: $small !important;
}
.u-margin-bottom-medium {
  margin-bottom: $medium !important;
}
.u-margin-bottom-big {
  margin-bottom: $big !important;
}

.u-margin-top-big {
  margin-top: $big !important;
}
.u-margin-top-huge {
  margin-top: $huge !important;
}
